.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(112, 109, 109);
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(112, 109, 109);
  }
  
  .form__field:focus .form_label {
  
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: wheat;
      font-weight: 700;
  }
  
  .form__field:focus{
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #4399D4, #fff);
    border-image-slice: 1;
  }
  
  
  .form__field:required .form__field:invalid{
    box-shadow: none;
  }

  .button button {
    background-color: transparent;
    font-size: 0.9rem;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    margin: 10px 0px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    display: none;
   }

   .stats {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    width: 400px;
   }

   .stats img {
    width: 180px;
    margin-bottom: 10px;
   }

  
   .info p {
    margin: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
   }
   
   @media screen and (min-width: 300px) and (max-width: 620px) {
    .panel{
      height: 100%;
    }
     .panel h1 {
      font-size: 1.5rem;
     }
  
     .img-jinx {
      width: 60%;
     }
  
     .form__group {
      width: 80%;
     }
  
     .button {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
     }
  
     .button button {
      background-color: transparent;
      font-size: 0.9rem;
      border: 2px solid #fff;
      border-radius: 10px;
      color: #fff;
      margin: 20px 0px;
      padding: 10px 20px;
      font-weight: bold;
      cursor: pointer;
      display: block;
     }
  
     .erro {
      width: 100%;
      height: 100%;
     }

     .stats {
      width: 80%;
      flex-direction: column;
     }

     .stats p {
      font-size: 1.5rem;
     }
  }

   /* CLOCK LOADER */

   .loading {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      background-color: #040204a2;
 }
  
  
  .clock-loader {
    --clock-color: #4399D4;
    --clock-width: 4rem;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 0.2rem;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border: 3px solid var(--clock-color);
    border-radius: 50%;
  }

  .clock-loader::before,
  .clock-loader::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
  }

  .clock-loader::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }

  .clock-loader::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
  
  .panel-error{
    margin-top: 30px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .panel-error h2 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    width: 60%;
  }
  .panel-error button {
    margin-top: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.897);
    font-weight: bold;
    color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;

  }